# Base de datos ------------------------------------------------------------
PGHOST=136.116.213.121
PGPORT=5432
PGDATABASE=planner_db
PGUSER=planner_user
PGPASSWORD=cambiala-en-secret-manager
PGSSLMODE=prefer

# Esquema que contiene archivo/granulo/materia/programa/escuela -----------
FABRICA_SCHEMA=fabrica

# Servidor -----------------------------------------------------------------
PORT=8080
CACHE_SEGUNDOS=180
PG_POOL_MAX=4
LOG_LEVEL=INFO
